
{% extends "main.html" %}

{% load static %}

{% block 'content' %}
  <!-- theme body start-->
      <div class="theme-body codex-chat">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">  
                <div class="card-body">
                  <h4 class="title text-muted">Confirm Payment</h4>
                  <table class="table" id="" style="width:100%;">
                    <thead>
                      <tr>
                        <th>S/N</th>
                        <th>Commodity</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Note</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>1</td>
                        <td>
                          <div class="d-flex align-items-center">
                            <a href="patient-details.html" class="d-flex align-items-center">
                              <span class="ml-10">Dr. Tiger Nixon</span>
                            </a>
                          </div>
                        </td>
                        <td>Otolaryngology</td>
                        <td>infertility</td>                
                        <td>04/25/2023</td>   
                        <td>Hello world</td>       
                      </tr>

                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                          <form action="" method="post" class="form-inline">
                            <textarea name="note" class="form-control mr-sm-2" cols="30" rows="2" placeholder="Write extra information if needed"></textarea>
                            <div class="mt-3">
                              <button type="submit" class="btn btn-primary my-2 my-sm-0">Confirm Payment</button>
                            </div>
                            
                          </form>
                        </td>
                        
                      </tr>

                    </tbody>

                  

                  </table>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock 'content' %}