{% extends "main.html" %}

{% load static %}

{% block 'content' %}
    <div class="theme-body common-dash" data-simplebar="">
      <div class="container-fluid">
        <div class="row">        
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4>Add Staff</h4>
              </div>
              <div class="card-body"> 

                {% if messages %}
                 {% include "alert.html" %}
                {% endif %}
               
                <form method="post">
                  {% csrf_token %}

                 
                  <div class="row">
                   
                    <div class="form-group col-md-4">
                      <div class="form-label">Username</div>
                      
                        {{ form.username }}
                    </div>
                    <div class="form-group col-md-4">
                      <div class="form-label">New Password</div>
                        {{ form.new_password }}
                    </div>
                    <div class="form-group col-md-4">
                      <div class="form-label">Confirm Password</div>
                        {{ form.confirm_password }}
                    </div>
                    <div class="form-group col-md-4">
                      <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>

                   
                  </div>
                  
                </form>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
    {% endblock 'content' %}
    